In [4]:
import pandas as pd

filename = 'chicago.csv'

# load data file into a dataframe
df = pd.read_csv('C:/Users/Vinay/Tutorials/Udacity/Nanodegree/Machine Learning Foundation/1.Introduction to Programming/Project/Practice Problem 1/chicago.csv')

In [10]:
print(df.head())  # start by viewing the first few rows of the dataset!
print()
print(df.columns)
print()
print(df.describe())
print()
print(df.info())
print()
# print(df.isnull())

           Start Time             End Time  Trip Duration  \
0 2017-05-29 18:36:27  2017-05-29 18:49:27            780
1 2017-06-12 19:00:33  2017-06-12 19:24:22           1429
2 2017-02-13 17:02:02  2017-02-13 17:20:10           1088
3 2017-04-24 18:39:45  2017-04-24 18:54:59            914
4 2017-01-26 15:36:07  2017-01-26 15:43:21            434

                  Start Station                          End Station  \
0     Columbus Dr & Randolph St                 Federal St & Polk St
1        Kingsbury St & Erie St  Orleans St & Merchandise Mart Plaza
2         Canal St & Madison St              Paulina Ave & North Ave
3  Spaulding Ave & Armitage Ave       California Ave & Milwaukee Ave
4        Clark St & Randolph St         Financial Pl & Congress Pkwy

    User Type  Gender  Birth Year
0  Subscriber    Male      1991.0
1    Customer     NaN         NaN
2  Subscriber  Female      1982.0
3  Subscriber    Male      1966.0
4  Subscriber  Female      1983.0

Index(['Start Time', 'End Time', 'Trip Duration', 'Start Station',
       'End Station', 'User Type', 'Gender', 'Birth Year'],
      dtype='object')

       Trip Duration   Birth Year
count     400.000000   330.000000
mean      938.215000  1980.533333
std      2466.972184    11.723011
min        97.000000  1949.000000
25%       407.000000  1973.000000
50%       634.000000  1984.000000
75%       997.750000  1989.000000
max     47551.000000  1999.000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 8 columns):
Start Time       400 non-null datetime64[ns]
End Time         400 non-null object
Trip Duration    400 non-null int64
Start Station    400 non-null object
End Station      400 non-null object
User Type        400 non-null object
Gender           330 non-null object
Birth Year       330 non-null float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 25.1+ KB
None

In [11]:
print(df['Start Time'])

0     2017-05-29 18:36:27
1     2017-06-12 19:00:33
2     2017-02-13 17:02:02
3     2017-04-24 18:39:45
4     2017-01-26 15:36:07
5     2017-06-21 09:43:54
6     2017-04-24 08:33:31
7     2017-03-21 07:23:58
8     2017-01-14 12:16:20
9     2017-04-06 09:15:52
10    2017-06-13 17:02:44
11    2017-03-09 09:15:39
12    2017-03-22 06:54:00
13    2017-02-21 17:51:52
14    2017-03-13 13:19:26
15    2017-04-04 23:12:25
16    2017-04-05 19:28:40
17    2017-05-15 15:49:46
18    2017-02-18 15:23:05
19    2017-04-02 13:21:17
20    2017-06-20 11:38:18
21    2017-02-01 08:49:24
22    2017-04-11 11:22:42
23    2017-05-21 12:07:47
24    2017-06-28 21:07:24
25    2017-02-08 17:33:43
26    2017-06-24 21:58:46
27    2017-05-23 08:18:01
28    2017-06-07 12:30:44
29    2017-04-04 14:12:57
              ...
370   2017-01-25 08:41:58
371   2017-06-07 17:38:27
372   2017-03-23 13:21:51
373   2017-05-22 06:45:24
374   2017-04-15 15:47:57
375   2017-06-24 16:48:07
376   2017-05-19 07:15:41
377   2017-06-27 16:10:55
378   2017-06-16 17:17:23
379   2017-03-20 08:28:01
380   2017-06-25 19:03:43
381   2017-06-05 07:19:18
382   2017-04-27 12:46:12
383   2017-06-21 20:06:34
384   2017-05-29 09:47:20
385   2017-01-15 19:34:35
386   2017-06-22 08:20:15
387   2017-02-07 14:36:00
388   2017-06-03 00:18:58
389   2017-04-15 12:38:56
390   2017-01-26 12:16:01
391   2017-05-21 19:17:39
392   2017-04-08 18:39:53
393   2017-06-06 05:54:58
394   2017-03-29 17:00:33
395   2017-02-06 13:34:32
396   2017-05-22 16:44:08
397   2017-06-09 17:03:44
398   2017-05-16 08:14:27
399   2017-05-16 12:48:34
Name: Start Time, Length: 400, dtype: datetime64[ns]

In [17]:
# convert the Start Time column to datetime
df['Start Time'] = pd.to_datetime(df['Start Time'])
print(df['Start Time'].dt.date)
print(df['Start Time'].dt.time)

0      2017-05-29
1      2017-06-12
2      2017-02-13
3      2017-04-24
4      2017-01-26
5      2017-06-21
6      2017-04-24
7      2017-03-21
8      2017-01-14
9      2017-04-06
10     2017-06-13
11     2017-03-09
12     2017-03-22
13     2017-02-21
14     2017-03-13
15     2017-04-04
16     2017-04-05
17     2017-05-15
18     2017-02-18
19     2017-04-02
20     2017-06-20
21     2017-02-01
22     2017-04-11
23     2017-05-21
24     2017-06-28
25     2017-02-08
26     2017-06-24
27     2017-05-23
28     2017-06-07
29     2017-04-04
          ...
370    2017-01-25
371    2017-06-07
372    2017-03-23
373    2017-05-22
374    2017-04-15
375    2017-06-24
376    2017-05-19
377    2017-06-27
378    2017-06-16
379    2017-03-20
380    2017-06-25
381    2017-06-05
382    2017-04-27
383    2017-06-21
384    2017-05-29
385    2017-01-15
386    2017-06-22
387    2017-02-07
388    2017-06-03
389    2017-04-15
390    2017-01-26
391    2017-05-21
392    2017-04-08
393    2017-06-06
394    2017-03-29
395    2017-02-06
396    2017-05-22
397    2017-06-09
398    2017-05-16
399    2017-05-16
Name: Start Time, Length: 400, dtype: object
0      18:36:27
1      19:00:33
2      17:02:02
3      18:39:45
4      15:36:07
5      09:43:54
6      08:33:31
7      07:23:58
8      12:16:20
9      09:15:52
10     17:02:44
11     09:15:39
12     06:54:00
13     17:51:52
14     13:19:26
15     23:12:25
16     19:28:40
17     15:49:46
18     15:23:05
19     13:21:17
20     11:38:18
21     08:49:24
22     11:22:42
23     12:07:47
24     21:07:24
25     17:33:43
26     21:58:46
27     08:18:01
28     12:30:44
29     14:12:57
         ...
370    08:41:58
371    17:38:27
372    13:21:51
373    06:45:24
374    15:47:57
375    16:48:07
376    07:15:41
377    16:10:55
378    17:17:23
379    08:28:01
380    19:03:43
381    07:19:18
382    12:46:12
383    20:06:34
384    09:47:20
385    19:34:35
386    08:20:15
387    14:36:00
388    00:18:58
389    12:38:56
390    12:16:01
391    19:17:39
392    18:39:53
393    05:54:58
394    17:00:33
395    13:34:32
396    16:44:08
397    17:03:44
398    08:14:27
399    12:48:34
Name: Start Time, Length: 400, dtype: object

In [18]:
# extract hour from the Start Time column to create an hour column
df['hour'] = df['Start Time'].dt.hour
print(df['hour'])

0      18
1      19
2      17
3      18
4      15
5       9
6       8
7       7
8      12
9       9
10     17
11      9
12      6
13     17
14     13
15     23
16     19
17     15
18     15
19     13
20     11
21      8
22     11
23     12
24     21
25     17
26     21
27      8
28     12
29     14
       ..
370     8
371    17
372    13
373     6
374    15
375    16
376     7
377    16
378    17
379     8
380    19
381     7
382    12
383    20
384     9
385    19
386     8
387    14
388     0
389    12
390    12
391    19
392    18
393     5
394    17
395    13
396    16
397    17
398     8
399    12
Name: hour, Length: 400, dtype: int64

In [52]:
# find the most popular hour
print(df['hour'].mode())
popular_hour = df['hour'].mode()[0]
print(popular_hour)

0    17
dtype: int64
17

In [50]:
# find the most common hour (from 0 to 23)
popular_hour = df.groupby(['hour']).size().reset_index(name='count')
print()
print(popular_hour)
print()
print(popular_hour['count'].idxmax())
print()
print(popular_hour.loc[popular_hour['count'].idxmax()])
print()
print('Most Frequent Start Hour:', popular_hour.loc[popular_hour['count'].idxmax()].hour)

    hour  count
0      0      4
1      5      2
2      6     14
3      7     23
4      8     22
5      9     20
6     10     16
7     11     19
8     12     31
9     13     26
10    14     21
11    15     25
12    16     29
13    17     53
14    18     36
15    19     26
16    20     11
17    21     11
18    22      7
19    23      4

13

hour     17
count    53
Name: 13, dtype: int64

Most Frequent Start Hour: 17